.mercadopago-button {
    background-color: #009ee3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Para centrar el botón */
    border-radius: 5px;
    

  }
  
  .mercadopago-button:hover {
    background-color: #0072b0;
   
  }
  .cart-totals-val{
    font-size: 20px;
    font-weight: bold;
  }
  
  .input_quantity{
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }