.login-container_de_login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e6e6e6, #ffffff); /* Fondo degradado minimalista */
}

.login-form-de-login{
  background-color: #ffffff;
  padding: 40px; /* Ajusta el padding para hacer el formulario más cuadrado */
  border-radius: 20px; /* Hace los bordes más redondeados */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
  width: 25%; /* Ajusta el ancho del formulario al 100% */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px; /* Incrementa el espacio entre los elementos del formulario */
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.boton_ingresar {
  width: 80%;
  padding: 12px;
  border: none;
  background-color: #4caf50; /* Color de fondo del botón */
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto;
}

.boton_ingresar:not(:hover) {
  background-color: #2b862e; /* Color de fondo del botón */
}

.boton_ingresar button:hover {
  background-color: #45a049; /* Color de fondo del botón en hover */
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}


@media (max-width: 768px) {
  .login-form-de-login {
    width: 70%; /* Ajusta el ancho del formulario al 90% */
  }
}